.container-show {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.container-show h1 {
  margin: 0;
  color: #aa3a3a;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  font-size: 42px;
  font-weight: bold;
  letter-spacing: 5px;
  letter-spacing: 5px;
}

.fas.fa-times-circle {
  color: rgb(177, 9, 9);
  margin-left: 5px;
}

.list-show {
  display: flex;
}

.delete_button {
  padding-top: 2px;
}
