<div class="footer">
  <div class="text-footer">
    <h5>Created by Benjamin :).</h5>
  </div>

  <div class="contacts">
    <a href="https://github.com/Beno5"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/benjamin-fejzagic-5a3a911bb/"><i class="fab fa-linkedin"></i></a>
    <div><i class="fas fa-envelope-open-text"></i><%= mail_to("benjamin.fejzagic@hotmail.com") %></div>
  </div>
</div>