
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1587062147896-8cea099ac5d3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80);">
  <div class="container-h1">
    <h1>Welcome to our amazing milkshake site!</h1>
    <div class="container-home">
    <%= link_to "See all milkshakes!", milkshakes_path, class: "btn btn-primary" %>
    <%= link_to "Make new milkshake!", new_milkshake_path, class: "btn btn-primary" %>
    </div>
    </div>
  </div>
</div>

