.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.text-footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contacts {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}